.sliderpage {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.353);
  width: 180%;
}

.current-entity {
  display: flex;
  font-size: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.current-entity footer {
  margin-top: 10px;
  margin-bottom: -10px;
}

.currentMint {
  width: 30%;
  height: auto;
  border-bottom: 2px solid #00fff794;
}

.current-container {
  z-index: 0;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  justify-content: center;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.slider-container {
  position: relative;
}

.slider-container.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.card-container {
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: rgba(0, 255, 255, 0.146);
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  height: 20rem;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  font-style: normal;
  border-image: linear-gradient(
      45deg,
      rgba(50, 255, 255, 0.874),
      #4babff24,
      #5cffff35
    )
    1;
  background-clip: padding-box;
  position: relative;
}

.card-container::before,
.card-container::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  background: linear-gradient(
    45deg,
    rgba(121, 146, 255, 0.18),
    rgba(106, 243, 255, 0.076),
    rgba(97, 158, 255, 0.123),
    rgba(255, 0, 0, 0.195)
  );
  background-size: 400% 400%;
  animation: moveGradient 6s infinite linear;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes glitchEffect {
  0%,
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 25%),
      polygon(0% 75%, 100% 75%, 100% 100%, 0% 100%);
    transform: translate(0);
  }
  10%,
  30%,
  50%,
  70% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 25%),
      polygon(0% 75%, 100% 75%, 100% 100%, 0% 100%);
    transform: translate(-7px, 0);
  }
  20%,
  40%,
  60%,
  80% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 25%, 0% 25%),
      polygon(0% 75%, 100% 75%, 100% 100%, 0% 100%);
    transform: translate(7px, 0);
  }
}

.card-container::before {
  animation: glitchEffect 0.7s infinite linear;
}

.card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.5em;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0%);
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-container:hover .card-info {
  transform: translateY(0);
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-info-always-visible {
  padding-bottom: 1px;
  max-height: 100px;
  background-color: rgba(38, 38, 38, 0.537);
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card-container:hover .card-info-on-hover {
  display: block;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-top-level {
  border-top: 1px solid #0ff;
  padding-top: 5px;
}

.card-image {
  width: 100%;
  height: 72%;
  object-fit: cover;
  opacity: 90%;
}

.card-number {
  font-size: 1.2rem;
  margin-bottom: -8px;
  padding-top: 2px;
}

.card-price {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0px;
}

.card-name,
.card-parameters-h2,
h3,
.params {
  font-size: 1rem;
  line-height: 0.9;
  margin-bottom: 2px;
  margin: 2px 0;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
  font-family: 'Electrolize', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.custom-slider-arrow {
  background-color: rgba(0, 255, 255, 0.307);
  border-top: 2px solid #0ff;
  border-bottom: 2px solid #0ff;
  border-left: 0.5px solid #0ff;
  border-right: 0.5px solid #0ff;
  border-radius: 1px;
  clip-path: polygon(
    0 0,
    calc(100% - 20px) 0,
    100% 20px,
    100% 100%,
    20px 100%,
    0 calc(100% - 20px)
  );
  box-shadow: none;
  cursor: pointer;
  pointer-events: auto;
  position: absolute;
  top: 50%;
  z-index: 10;
}

.custom-slider-arrow-right.loading {
  display: none;
}

.custom-slider-arrow:hover {
  box-shadow: none;
}

.custom-slider-arrow:active {
  box-shadow: none;
  transform: scale(1.2);
}

.custom-slider-arrow-left {
  left: -80px;
  font-size: 20px;
  color: #00fff7;
  padding-inline: 20px;
  padding-block: 10px;
}

.custom-slider-arrow-right {
  right: -80px;
  font-size: 20px;
  color: #00fff7;
  padding-inline: 20px;
  padding-block: 10px;
}

.custom-slider-arrow.hide {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@media (max-width: 500px) {
  .card-container {
    height: 9rem;
    width: auto;
    margin-left: -8px;
  }

  .card-image {
    width: 90%;
    height: auto;
  }
  .card-price {
    font-size: 0.8rem;
  }

  .card-name {
    font-size: 0.7rem;
    margin: 1px 0;
    text-align: center;
  }

  .card-gender {
    font-size: 0.8rem;
  }

  .card-parameters-h2,
  .params {
    display: none;
  }

  .slider-text-h1 {
    margin-left: 5px;
  }

  .slider-arrow {
    margin-left: 40px;
  }
}

@media (max-width: 400px) {
  .gen-container,
  .gen-container div {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .nexttokenslider {
    margin-top: 10vh;
    font-size: 0.8em;
    margin-bottom: 100px;
    text-align: left;
  }

  .slider-text-h1 {
    font-size: 0.5em;
    margin-left: 10px;
    margin-bottom: 1px;
  }

  .slider-arrow {
    margin-left: 40px;
  }
}
