.navbar {
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center; 
}

.logo h1 {
  margin-right: 5px;
  font-size: 1.5em; 
  margin-left: 10px;
  color: #eaeaea;
}

.logo img {
  height: 34px; 
  width: auto; 
  padding-bottom: 4px;
  z-index: 2;
}

.navToggle {
  display: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border: none;
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  gap: 10px;
  background: #0000005c;

  a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;

    
  }
}

.expanded {
  display: flex;
  font-size: 1.7em;
  background: #000000f2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
