
.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  gap: 10px;
  background: #0000005c;
  z-index: 1000;

  a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
}