.logo {
  display: flex;
  align-items: center; 
}

.logo h1 {
  margin-right: 5px;
  font-size: 1.5em; 
  margin-left: 10px;
  color: #eaeaea;
}

.logo img {
  height: 34px; 
  width: auto; 
  z-index: 5;
  padding-bottom: 4px;
}

.navToggle {
  display: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border: none;
  box-shadow: none;
  background-color: transparent;
  z-index: 5;
  border: none;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 2;
  gap: 10px;
  background: #000000ae;

  a {
    color: #a9a9a9;
    text-decoration: none;
    padding: 0.5rem 2rem;
    transition: color 0.3s ease;

    &.active,
    &:hover {
      border-bottom: 1px solid rgb(255, 255, 255);
      background: linear-gradient(
        to top,
        rgb(255, 255, 255) 0%,
        rgba(0, 38, 38, 0.716) 130%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.expanded {
  display: flex;
  font-size: 1.7em;
  background: #000000f2;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
