@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .absolute-size {
    @apply absolute w-full h-full inset-0;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2;
  }
}

.slider-container {
  position: relative;
}

.slider-container.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}








.swiper {
  padding: 0 100px;
}

.custom-slider-arrow {
  z-index: 10;
  box-shadow: none;
  cursor: pointer;
  pointer-events: auto;
  position: absolute;
  top: 50%;
  z-index: 10;
}

.custom-slider-arrow-right.loading {
  display: none;
}

.custom-slider-arrow:hover {
  box-shadow: none;
}

.custom-slider-arrow:active {
  box-shadow: none;
  transform: scale(1.2);
}

.custom-slider-arrow-left {
  left: 0px;
  font-size: 20px;
  color: #00fff7;
  padding-inline: 20px;
  padding-block: 10px;
}

.custom-slider-arrow-right {
  right: 0px;
  font-size: 20px;
  color: #00fff7;
  padding-inline: 20px;
  padding-block: 10px;
}

.swiper-slide-active {
  transform: scale(1.12) !important;
  transition: all 0.3s ease-in !important;
}
.swiper {
  padding: 20px 0 !important;
  transition: all 0.3s ease-in !important;
}

.swiper-slide-prev,
.swiper-slide-next {
  transform: scale(1.05) !important;
  transition: all 0.3s ease-in !important;
}

.swiper-slide {
  transition: all 0.3s ease-in !important; 
  display: flex !important;
  justify-content: center !important;;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@media (max-width: 500px) {
  .card-image {
    width: 90%;
    height: auto;
  }
  .card-price {
    font-size: 0.8rem;
  }

  .card-name {
    font-size: 0.7rem;
    margin: 1px 0;
    text-align: center;
  }

  .card-gender {
    font-size: 0.8rem;
  }
  
  .slider-text-h1 {
    margin-left: 5px;
  }

  .slider-arrow {
    margin-left: 40px;
  }
}

@media (max-width: 400px) {
  .gen-container,
  .gen-container div {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .nexttokenslider {
    margin-top: 10vh;
    font-size: 0.8em;
    margin-bottom: 100px;
    text-align: left;
  }

  .slider-text-h1 {
    font-size: 0.5em;
    margin-left: 10px;
    margin-bottom: 1px;
  }

  .slider-arrow {
    margin-left: 40px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}