@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0a0a0a;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
}

.mint-entity-header{
  animation: glitch 0.5s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(1px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-1px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(2deg); 
  }
}

.mint-entity-header:before,
.mint-entity-header:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.mint-entity-header:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(1px,-1px);
  }
  4%,60%{
    transform: translate(-1px,1px);
  }
  62%{
    transform: translate(4px,-1px) skew(-3deg); 
  }
}

.mint-entity-header:after{
  animation: glitchBottom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom{
  2%,64%{
    transform: translate(-1px,0);
  }
  4%,60%{
    transform: translate(-1px,0);
  }
  62%{
    transform: translate(-3px,2px) skew(3deg); 
  }
}

.mint-container {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-container {
  height: 100vh;
  background: url('/images/stats-bg.png') center / cover no-repeat;
  padding-top: 100px;

  .navbar {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.427);
    position: relative;

    button {
      color: #cecece;
      text-decoration: none;
      text-align: center;
      transition: color 0.3s ease;
      background: none;
      border: none;
      cursor: pointer;
      font-family: 'Bebas Neue', sans-serif;

      &.active {
        color: #aaff3e;
        border-bottom: 1px solid #aaff3e;
      }
    }
  }

  .stats-container2 {
    .listli {
      background-color: rgba(170, 255, 6, 0.13);
      position: relative;
      padding: 15px 0;
      border-radius: 5px;
      border: 0.5px solid#AAFF3E;
      border-left: 4px solid #aaff3e;
      font-family: 'Electrolize', sans-serif;
      font-style: normal;
    }
  }
}
