.cards-container {
  justify-content: center;
  margin-left: 15px;
}
.card-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  height: 14.2rem; 
  width: 99%;
  overflow-x: scroll; 
  padding: 10px 0;
  white-space: nowrap; 
  margin-top: 10px;
  border: 1px solid #0ff;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.5em;
  right: 0;
  background-color: rgba(0, 0, 0, 0.144); 
  color: white;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0%);
}

.card-container:hover .card-info {
  transform: translateY(0);
}

.card-info-always-visible {
  padding-bottom: 1px;
  max-height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}


.card-info-on-hover {
  display: none;
}

.card-container:hover .card-info-on-hover {
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
  
.first-card {
  transform: scale(1.1);
}

.card-image {
  width: 100%;
  margin-bottom: -10px;
  height: auto;
  object-fit: cover;
  opacity: 90%;
}

.card-number {
  font-size: 1.6rem;
  margin-bottom: -5px;
  padding-top: 2px;
}

.card-price {
  font-size: 1.3rem;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  text-align: center;
}


.card-name, .card-parameters-h2, h3, .params{
  font-size: 1.1rem; 
  line-height: 0.9;
  margin-bottom: 2px;
  margin: 2px 0; 
  padding: 2px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  text-align: center;
  width: 100%;
}

.custom-arrows {
  display: flex;
  justify-content: center; 
  position: absolute; 
  width: 100.8%; 
  gap: 15px;
  pointer-events: none; 
}

.custom-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  pointer-events: auto;
}

.custom-arrow-left, .custom-arrow-right {
  font-size: 24px; 
  color: #fff; 
}

::-webkit-scrollbar {
  width: 0px; 
  height: 0px; 
}

@media (max-width: 500px) {
  .card-container {
    height: 9rem;
    width: auto;
    margin-left: -8px;
  }

    .card-image {
        width:90%;
        height: auto;
    }
    .card-price {
      font-size: 0.8rem;
    }

    .card-name {
        font-size: 0.7rem; 
        margin: 1px 0; 
        text-align: center;
    }

    .card-gender {
      font-size: 0.8rem;
    }

    .card-parameters-h2,  .params{
        display: none;
    }

    .slider-text-h1{
      margin-left: 5px;
    }
  
    .slider-arrow {
      margin-left: 40px;
    }
}

@media (max-width: 400px) {

  .gen-container, .gen-container div {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .nexttokenslider {
    margin-top: 10vh;
    font-size: 0.8em;
    margin-bottom: 100px;
    text-align: left;
  }
  
  .slider-text-h1 {
    font-size: 0.5em;
    margin-left: 10px;
    margin-bottom: 1px;
  }
  
  .slider-arrow {
  margin-left: 40px;
  }
  

}

