@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.TBG-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-top: 7vh;
  font-family: 'Bebas Neue', sans-serif;
}

.breed-entity-button {
  background-color: rgba(0, 255, 255, 0);
  max-width: 70%;
  font-size: 1.5em; 
  color: #f0f0f0; 
  border: none; 
  margin-top: 5vh;
  border-radius: 6px; 
  padding: 0.5rem 3rem; 
  cursor: pointer; 
  box-shadow: 0px 0px 1px 1px #0ff;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: 'Bebas Neue', sans-serif;
}

.breed-entity-button:hover {
  transform: scale(1.05)
}

.breed-sorting-options h1 {
  font-size: 1.2em;
  padding: 5px;
  border-top: 1px solid #0ff ;
  width: 25vw;
  margin-bottom: -5px;
  font-family: 'Bebas Neue', sans-serif;
}

.breeder-items-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  grid-gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  font-family: 'Bebas Neue', sans-serif;
}

.card {
  width: 6em;
  padding: 5px;
  padding-bottom: 0px;
  border-radius: 8px;
  border: 1px solid #0ff;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 11;
  font-family: 'Bebas Neue', sans-serif;
}

.processing-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Bebas Neue', sans-serif;
}

.forge-button {
  background-color: rgba(0, 255, 255, 0);
  font-size: 1em; 
  color: #f0f0f0; 
  border: none; 
  border-radius: 6px; 
  padding: 0.5rem 3rem; 
  cursor: pointer; 
  box-shadow: 0px 0px 1px 1px #0ff;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: 'Bebas Neue', sans-serif;
}

.modal-content {
  padding: 20px;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Bebas Neue', sans-serif;
}

@media (max-width: 1400px) {
  .breed-sorting-options h1 {
    width: 40vw;

  }
  
}