main {
    font-size: 2em;
    margin-top: 15vh;
  }


.body {
  padding: 0;
  margin: 0;
}

.Body-Header {
  padding-bottom: 15vh;
}

.mint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.mint-text {
  text-align: center;
  font-size:7vw;
  margin-bottom: 10px;
}

.mint-button {
 display: flex;
 padding-bottom: 20px;
 justify-content: center;
}

.mint-button button{
  font-size: 6vw;
  width: 700%;
  height: 10vw;
}

main button {
  font-family: 'bebas neue', sans-serif;
  color:  #f0f0f0;
  background-color: transparent;
  border-radius: 10px;
  border: 1px;
  box-shadow: 0px 0px 4px 2px #0ff;
  cursor: pointer;
}

main button:hover{
  transform: scale(1.02);
  box-shadow: 0px 0px 5px 4px#0ff;
}

main button:active {
box-shadow: 0px 0px 80px 10px #0ff;
color: rgba(195, 255, 255, 0.931);
transition: 0.08s;
}

h2, h3 {
  color:rgb(255, 255, 255);
}

.nexttokenslider {
  margin-top: 10vh;
  font-size: 0.8em;
  margin-bottom: 100px;
  text-align: left;
}

.slider-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  font-family: 'Bebas Neue', sans-serif;
  cursor: pointer;
}

.gen-container {
  display: flex;
  justify-content: space-around;
  font-size: 0.8em;
}

.gen-container div {
  padding-bottom: 500px;
  font-size: 0.7em;
  margin-inline: 30px;
}






@media (max-width: 710px) {
  .mint-button button {
    font-size: 7vw;
  }
  
}

@media (max-width: 500px) {
  .slider-text-h1{
    margin-left: 5px;
  }

  .slider-arrow {
    margin-left: 40px;
  }
}

@media (max-width: 400px) {

  .mint-button button{
    font-size: 6vw;
    width: 50%;
    height: 10vw;
  }

  .gen-container, .gen-container div {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .nexttokenslider {
    margin-top: 10vh;
    font-size: 0.8em;
    margin-bottom: 100px;
    text-align: left;
  }
  
  .slider-text-h1 {
    font-size: 0.5em;
    margin-left: 10px;
    margin-bottom: 1px;
  }
  
  .slider-arrow {
  margin-left: 40px;
  }
  

}