.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 19rem; 
  width: 100%;
  margin-left: 10px;
  overflow-x: scroll; 
  white-space: nowrap; 
}

.card-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  height: 14rem; 
  width: 14rem;
  overflow-x: scroll; 
  padding: 10px 0;
  margin-left: 10px;
  white-space: nowrap; 
  margin-top: 10px;
  border: 1px solid #0ff;
  border-radius: 10px;
}

.card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.5em;
  right: 0;
  background-color: rgba(0, 0, 0, 0.144); 
  color: white;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0%);
}

.card-container:hover .card-info {
  transform: translateY(0);
}

.card-info-always-visible {
  padding: 1px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}


.card-info-on-hover {
  display: none;
}

.card-container:hover .card-info-on-hover {
  display: block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}


.slider-text-h1 {
  font-size: 0.8em;
  margin-left: 35px;
  margin-bottom: 5px;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(0, 255, 255, 0.785) 130%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
  .slider-arrow {
  margin-left: 120px;
  }
  
  .first-card {
    transform: scale(1.05);
}

.card-image {
    width: 60%;
    height: auto;
    object-fit: cover;
    opacity: 90%;
}

.card-price {
  font-size: 1.4rem;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  text-align: center;
}


.card-name, .card-parameters-h2, h3, .params{
    font-size: 1.2rem; 
    line-height: 0.9;
    margin-bottom: 2px;
    margin: 2px 0; 
    padding: 5px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    text-align: center;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0px; 
    height: 0px; 
  }

  @media (max-width: 710px) {
    .mint-button button {
      font-size: 7vw;
    }
    
  }


@media (max-width: 500px) {
    .card-container {
        width: 5rem; 
        height: 9rem; 
        margin-right: 10px;
        margin-left: 10px;
        padding: 0;
    }

    .card-image {
        width: 30%;
        height: auto;
    }

    .card-name, .card-price {
        font-size: 0.8rem; 
        margin: 1px 0; 
        text-align: center;
    }

    .card-parameters-h2,  .params{
        display: none;
    }

    .slider-text-h1{
      margin-left: 5px;
    }
  
    .slider-arrow {
      margin-left: 40px;
    }
}

@media (max-width: 400px) {
  
  .mint-button button{
    font-size: 6vw;
    width: 50%;
    height: 10vw;
  }

  .gen-container, .gen-container div {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .nexttokenslider {
    margin-top: 10vh;
    font-size: 0.8em;
    margin-bottom: 100px;
    text-align: left;
  }
  
  .slider-text-h1 {
    font-size: 0.5em;
    margin-left: 10px;
    margin-bottom: 1px;
  }
  
  .slider-arrow {
  margin-left: 40px;
  }
  

}

