
.unlist-display-container {
    justify-content: center;
    margin-left: 10px;
    
}

.nfts-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 100px; 
    height: 100px; 
    cursor: pointer;
    transition: transform 0.2s; 
}

.nfts-item.selected {
    transform: scale(1.1); 
}

.unlist-button{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 0.6em;
    border: 0.3px solid #0ff;
}
