
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110; 
}


.closeBtn {
    font-size: 1.5em;
    color: #fff !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    text-transform: lowercase !important;
}

.closeBtn:hover {
    color: rgb(85, 85, 85); 
}

.modalContainer {
    background-color: #000; 
    color: #ffffff; 
    border-radius: 10px;
    width: 60%;
    border: 0.5px solid #0ff;
    display: grid;
    place-items: center;
    height: 40vh;
}


.modalContainer header {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.nfts-display-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30%;
    height: auto;
    padding: 10px;
}


.nfts-item {
    width: 4em;
    padding: 5px;
    padding-bottom: 0px;
    border-radius: 8px;
    border: 1px solid #0ff;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 11;
}

.nfts-item.selected {
    border-color: #0ff; 
    box-shadow: 0px 0px 5px 2px #0ff;
}

.nfts-item img {
    max-width: 40%;
    height: auto;
    size: 0.1em;
    margin-bottom: 10px;
    margin-left: -5px;
    z-index: 11;
}

.modalContainer input[type="text"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #0ff;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
}


.btnPrimary {
    margin-bottom: 10px;
}

@media (max-width: 770px) {
    .modalContainer {
        width: 40%;
        height: 50%;
    }

    .nft-display-container{
        width: 50%;
        height: 40%;
    }
}


