.Trading-page {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Bebas Neue', sans-serif;
}

.Trading-top-buttons{
  margin-top: 7vh;
  z-index: 10;
  display: flex;
  font-family: 'Bebas Neue', sans-serif;
  align-items: center;
  flex-direction: column;
}

.sellEntity {
  background-color: rgba(0, 255, 255, 0);
  font-size: 1.5em; 
  color: #f0f0f0; 
  border: none; 
  margin-top: 5vh;
  border-radius: 6px; 
  padding-block: 2px; 
  padding-inline: 30px; 
  cursor: pointer; 
  box-shadow: 0px 0px 1px 1px #0ff;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-family: 'Bebas Neue', sans-serif;
}

.sellEntity:hover {
  transform: scale(1.05);
}

.ownersListings {
  position: absolute;
  right: 30px;
  top: 8vh;
  width: 200px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  padding: 5px;
  font-family: 'Bebas Neue', sans-serif;
}

.ownersListings:hover {
transform: scale(1.03);
}

.tradingfilters {
  font-size: 0.3em;
  margin-top: 20px;
  font-family: 'Bebas Neue', sans-serif;
}

.tradingfiltersh1 {
  font-size: 1.2em; 
  padding-top: 5px;
  margin-bottom: 13px;
  width: 20vw;
  border-top: 1px solid #0ff ;
  font-family: 'Bebas Neue', sans-serif;
}

.sorting-options {
  margin-top: -20px;
  font-family: 'Bebas Neue', sans-serif;
}

.sorting-dropdown {
  font-size: 0.65em;
  padding: 2px;
  margin: 10px 0;
  border: 0.5px solid rgb(168, 255, 255);
  border-radius: 8px;
  background-color: rgb(15, 15, 15);
  color: rgb(232, 232, 232);
  cursor: pointer;
  font-family: 'Bebas Neue', sans-serif;
}

.sorting-dropdown:hover, .sorting-dropdown:focus {
  border-color: #0ff;
  outline: none;
}

.tradingfilters button:last-child {
  margin-right: 0;
}

.tradingfilters button {
  padding: 0px;
  margin-top: -10px;
  width: 120px;
  margin-right: 10px;
  color: rgba(241, 241, 241, 0.565);
  border: 0.5px solid #0ff;
  box-shadow: none;
  font-family: 'Bebas Neue', sans-serif;
}

.tradingfilters :hover {
  transform: scale(1.1);
}

.tradingfilters button.active-filter {
  color: rgb(255, 255, 255); 
  border: 2px solid #0ff;
}


.buy-sell-page button:hover {
  transform: scale(1.05)
}

.buy-sell-page button:active {
  background-color: transparent; 
  color: #fcfcfc;
}


.cards-container2{
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: flex-start;
  padding-left: 10px;
  font-family: 'Bebas Neue', sans-serif;
}

.cards-img {
  width: 20%;
}

.listing-cards {
  background: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 14%; 
  height: auto;
  margin-bottom: 20px;
  font-family: 'Bebas Neue', sans-serif;
}

.listing-cards:hover {
  transform: scale(1.05);
}

.cards-content {
  padding: 15px;
  font-family: 'Bebas Neue', sans-serif;
}

.cards-title {
  margin: 0;
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Bebas Neue', sans-serif;
}

.cards-text {
  color: #ffffff;
  font-size: 1em;
  margin-top: 10px;
  font-family: 'Bebas Neue', sans-serif;
}



@media (max-width: 1000px) {
.lisitng-cards {
  height: 30%;
}

.ownersListings {
  position: unset;
  margin-top: 10px;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
}

@media (max-width: 768px) {

  .sorting-dropdown {
   margin-top: 20px;
   margin-bottom: -5px;
  }

  .tradingfilters button {
    width: 80px;
  }

  .tradingfiltersh1 {
    margin-bottom: 0px;
  }

  .modalContainer {
    margin: 10px;
    width: auto;
  }

  .cards-content {
    padding: 4px;
  }

  .cards-img {
    width: 40%;
  }
}