.connect-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.connect-modal-content {
  background: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 4px;
  position: relative;
  max-width: 500px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #0ff;
  margin-bottom: 5px;
}

.connect-modalContent-header {
  position: absolute;
  top: 20px;
}

.connect-close-button {
  position: absolute;
  top: 0px;
  right: -30px;
  border: none;
  background: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.unlist-modalContainer {
  position: absolute;
  bottom: 30px;
}

.unlist-modalContainer header {
  border-bottom: 1px solid #0ff;
  padding: 1px;
  color: rgb(255, 255, 255);
}

@media (max-width: 1067px) {
  .connect-modal-content {
    width: 220px;
    height: 200px;
  }
}
