.honey-pot-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.203); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100; 
  font-family: 'Bebas Neue', sans-serif;
}

.close-button {
  font-size: 1.5em;
  color: #fff !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  cursor: pointer;
  position: absolute;
  top: 50px;
  right: 5px;
  text-transform: lowercase !important;
  font-family: 'Bebas Neue', sans-serif;
}

.close-button:hover {
  color: rgb(85, 85, 85); 
}

.modal-content {
  background-color: #000; 
  color: #ffffff; 
  padding: 20px;
  border-radius: 3px;
  width: 60%;
  box-shadow: 0px 0px 1px 1px #0ff;
  z-index: 11;
  font-family: 'Bebas Neue', sans-serif;
}



.nft-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  z-index: 11;
  font-family: 'Bebas Neue', sans-serif;
}

.nft-items {
  width: 4em;
  padding: 5px;
  padding-bottom: 0px;
  border-radius: 8px;
  border: 1px solid #0ff;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 11;
  font-family: 'Bebas Neue', sans-serif;
}

.nft-items.selected{
  box-shadow: 0px 0px 5px 2px #0ff;
}

.nft-items:hover {
  transform: scale(1.05);
  background-color: #28282835; 
  z-index: 11;
}

.nft-items img {
  max-width: 40%;
  height: auto;
  size: 0.1em;
  margin-bottom: 10px;
  margin-left: -5px;
  z-index: 11;
}

.error {
  color: #ff0000; 
}


.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: 'Bebas Neue', sans-serif;
}

.confirmation-content {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 2px 2px #0ff;
  animation: popIn 0.5s ease;
  font-family: 'Bebas Neue', sans-serif;
}

.confirm-close {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 0.6em;
  border: 0.3px solid #0ff;
  font-family: 'Bebas Neue', sans-serif;
}

@keyframes popIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

  