.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.558);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.OwnerModal {
  position: relative;
  width: 50%;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.399);
  padding: 40px;
  border-radius: 8px;
  border: 1px solid #ff7a00;
  z-index: 2000;
}

.OwnerCards {
  max-height: 80vh;
  overflow-y: auto;
}

.close-modal-button {
  font-size: 1.5em;
  color: #fff;
  background-color: transparent;
  border: none !important;
  box-shadow: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: 'Bebas Neue', sans-serif;
}
