main {
    font-size: 2em;
    margin-top: 15vh;
  }


.body {
  padding: 0;
  margin: 0;
}

.Body-Header {
  padding-bottom: 15vh;
}
.mint-container {
  text-align:center;
}

.mint-text {
  display: block;
  font-size:7vw;
  margin-bottom: 10px;
}

.mint-button {
 display: block;
 padding-bottom: 20px;
}

.mint-button button{
  font-size: 6vw;
  width: 50%;
  height: 10vw;
}



main button {
  font-family: 'bebas neue', sans-serif;
  color:  #f0f0f0;
  background-color: transparent;
  border-radius: 10px;
  border: 1px;
  box-shadow: 0px 0px 4px 2px #0ff;
  cursor: pointer;
}

main button:hover{
  transform: scale(1.02);
  box-shadow: 0px 0px 5px 4px#0ff;
}

main button:active {
box-shadow: 0px 0px 80px 10px #0ff;
color: #0ff;
transition: 0.08s;
}

h2, h3 {
  color:rgb(255, 255, 255);
}

.gen-container {
  display: flex;
  border: #0ff;
  justify-content: space-around;
  font-size: 0.8em;
}

.gen-container div {
  padding-bottom: 500px;
  font-size: 0.7em;
  margin-inline: 30px;
}

.slider-text-h1 {
  font-size: 1.5em;
}

.slider-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  font-family: 'Bebas Neue', sans-serif;
  cursor: pointer;
}

.nexttokenslider {
  margin-top: 10vh;
  font-size: 0.8em;
  margin-bottom: 100px;
}



@media (max-width: 710px) {
  .mint-button button {
    font-size: 7vw;
  }
  
}

@media (max-width: 400px) {

  .mint-button button{
    font-size: 6vw;
    width: 50%;
    height: 10vw;
  }

  .gen-container, .gen-container div {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

}