html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0a0a0a;
  color: white;
  // font-family: 'Bebas Neue', sans-serif;
}

* {
  @apply font-electrolize;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bebas;
}

.mint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-container {
  height: 100vh;
  background: url('/images/stats-bg.png') center / cover no-repeat;
  padding-top: 100px;

  .navbar {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.427);
    position: relative;

    button {
      color: #cecece;
      text-decoration: none;
      text-align: center;
      transition: color 0.3s ease;
      background: none;
      border: none;
      cursor: pointer;
      // font-family: 'Bebas Neue', sans-serif;

      &.active {
        color: #aaff3e;
        border-bottom: 1px solid #aaff3e;
      }
    }
  }

  .stats-container2 {
    .listli {
      background-color: rgba(170, 255, 6, 0.13);
      position: relative;
      padding: 15px 0;
      border-radius: 5px;
      border: 0.5px solid#AAFF3E;
      border-left: 4px solid #aaff3e;
      // font-family: 'Electrolize', sans-serif;
      font-style: normal;
    }
  }
}
